<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.testMapper">
  <select id="selectLowData" resultType="com.batchboot.dto.testLowDto" parameterType="java.util.Map">
    	SELECT grp_id,col1,col2,col3,etc,bigo,to_char(regdt,'YYYYMMDD') AS regdt 
    		from test_low_data where rownum <![CDATA[ <=  ]]> 15
  </select>
  <select id="selectLowData2" resultType="com.batchboot.dto.testLowDto"  parameterType="java.util.Map">
    	SELECT * FROM ( SELECT ROWNUM AS RNUM,A.* FROM (
    													SELECT grp_id,col1,col2,col3,etc,bigo,to_char(regdt,'YYYYMMDD') AS regdt 
    													from test_low_data where rownum <![CDATA[ <=  ]]> 9000
    					) A WHERE ROWNUM <![CDATA[ <= ]]>#{_skiprows} + #{_pagesize} 
    	) WHERE RNUM <![CDATA[ > ]]> #{_skiprows}
  </select>
  <update id="seqInit" parameterType="java.util.Map">
  		ALTER SEQUENCE TEST_SEQ INCREMENT BY 1
  </update>
  <insert id="insertLowData" parameterType="java.util.Map">
  	<selectKey resultType="int" keyProperty="seqColumn" order="BEFORE">
		select TEST_SEQ.NEXTVAL from dual
	</selectKey>
    insert into TEST_LOW_DATA(seq,grp_id,col1,col2,col3,etc,bigo,regdt)
        values(
	    	#{seqColumn},
	    	#{grp_id},
	    	#{col1},
	    	#{col2},
	    	#{col3},
	    	#{etc},
	    	#{bigo},
	    	sysdate
	    )
  </insert>
  
  <insert id="insertLowData2" parameterType="com.batchboot.dto.testLowDto">
  	<selectKey resultType="int" keyProperty="seqColumn" order="BEFORE">
		select TEST_SEQ_COPY.NEXTVAL from dual
	</selectKey>
    insert into TEST_LOW_DATA_COPY(seq,grp_id,col1,col2,col3,etc,bigo,regdt)
        values(
	    	#{seqColumn},
	    	#{grp_id},
	    	#{col1},
	    	#{col2},
	    	#{col3},
	    	#{etc},
	    	#{bigo},
	    	sysdate
	    )
  </insert>  
  <delete id="deleteLowData" parameterType="java.util.Map">
    delete from test_low_data where to_char(regdt,'YYYYMM') like #{regdt}
  </delete>
  <delete id="deleteLowDataCopy" parameterType="java.util.Map">
    delete from test_low_data_copy
  </delete>
</mapper>